.card-data{

padding: 30px;
margin: 400px;
position: relative;
border-radius: 10px;
margin-top: 100px;
margin-bottom: 0;
width: 1000px;
height: 800px;
background-color: #EEE;
text-align: center;
display: none;
border: 2px solid black;
border-radius: 6px;

}
img{
    right: 200px;
    top: 0;
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius:50%;
}
div{
    font-size: 40px;
    color: brown;
}
span{display: block;}
.span{

    padding: 6px;
    border-radius: 6px;
    background-color: rgba(138, 156, 109, 0.466);
    color: black;
    font-size: 35px;
    
}

.input-data{

    margin-top: 300px;
    left: 600px;
    position: fixed;
    }

input{

   width: 700px;
   height: 50px;
   font-size: 30px;
   border: 2px solid black;
   border-radius: 15px;
   background-color: rgba(253, 245, 230, 0.472);
   text-align: center;
}

input:hover{

border-color: cornflowerblue;
box-shadow: cornflowerblue 3px 3px 3px 3px;
border-radius: 15px;
}

.btn{
    width: 100px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 300px;
}

.age,.work,.emil,.add_img{

    display: none;
}

